*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    height: 100%;
    background-color: #F7E2E2;
}
header{
    margin-top: 10px;
    font-size: 3rem;
    font-weight: bold;
    color: #3A3845;
    flex: 1;
}
.sub-container{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
}

.grid-container{
    background-color: #3A3845;
    padding: 20px 20px;
    border-radius: 20px; 
}

.grid{
    background-color: #F7E2E2;
    /* border: 2px solid black; */
    width: 500px;
    height: 500px;
}

.grid-element{
    /* background-color: black; */
    border: 1px solid white;
}

.menu{
    /* background-color: black; */
    width: 200px;
    height: 597px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-clear{
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    background-color: #3A3845;
    border: none;
    border-radius: 5px;
    margin-bottom: 32px;
    color: white;
    font-weight: bold;
}

input[name="size"]{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif';
}

input[value="Submit"]{
    border: none;
    padding: 10px;
    border-radius: 2px;
}